.container {
  padding: 0 2rem;

  .main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      margin: 0 auto auto auto;
      line-height: 1.15;
      font-size: clamp(2rem, 0.5rem + 6.6667vw, 4rem);
      text-align: center;
    }

    .grid {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 800px;
    }

    .map {
      width: clamp(350px, 75%, 800px);
      height: max(60vw, 800px);
      margin-bottom: 70px;

      h2 {
        text-align: center;
      }
    }
  }

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
